<chart>
id=131024103914143323
symbol=EURJPY
period=1440
leftpos=1971
digits=3
scale=16
graph=1
fore=1
grid=1
volume=1
scroll=1
shift=1
ohlc=1
one_click=1
one_click_btn=1
askline=0
days=1
descriptions=0
shift_size=20
fixed_pos=0
window_left=0
window_top=0
window_right=1437
window_bottom=401
window_type=3
background_color=0
foreground_color=16777215
barup_color=65280
bardown_color=255
bullcandle_color=65280
bearcandle_color=255
chartline_color=65280
volumes_color=65535
grid_color=10061943
askline_color=255
stops_color=255

<window>
height=164
fixed_height=0
<indicator>
name=main
<object>
type=23
object_name=myema
period_flags=0
create_time=1498990932
description=EMA: Go Long @ 124.462 (391.2)
color=32768
font=Arial
fontsize=10
angle=0
anchor_pos=4
background=0
filling=0
selectable=1
hidden=0
zorder=0
corner=3
x_distance=2
y_distance=68
</object>
<object>
type=23
object_name=myemaexit
period_flags=0
create_time=1498990932
description=EMA: Exit long @ 122.916
color=8519755
font=Arial
fontsize=10
angle=0
anchor_pos=4
background=0
filling=0
selectable=1
hidden=0
zorder=0
corner=3
x_distance=2
y_distance=86
</object>
<object>
type=23
object_name=mywebsite
period_flags=0
create_time=1498990932
description=Doda-EMA by www.DodaCharts.com
color=8388608
font=Arial
fontsize=10
angle=0
anchor_pos=4
background=0
filling=0
selectable=1
hidden=0
zorder=0
corner=3
x_distance=2
y_distance=104
</object>
<object>
type=10
object_name=Fibo_01
period_flags=0
create_time=1498990933
color=255
style=0
weight=1
background=0
filling=0
selectable=0
hidden=0
zorder=0
color2=11829830
style2=2
weight2=1
time_0=1497484800
value_0=122.382000
time_1=1498694400
value_1=128.811000
levels_ray=0
level_0=0.0000
description_0=0.0% = 128.811  
level_1=0.2360
description_1=23.6% = 127.294  
level_2=0.3820
description_2=38.2% = 126.355  
level_3=0.5000
description_3=50.0% = 125.597  
level_4=0.6180
description_4=61.8% = 124.838  
level_5=1.0000
description_5=100.0% = 122.382  
level_6=1.6180
description_6=161.8% = 118.409  
level_7=2.6180
description_7=261.8% = 111.980  
level_8=4.2360
description_8=423.6% = 101.578  
</object>
<object>
type=1
object_name=myHline3
period_flags=0
create_time=1498990936
color=65280
style=2
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
value_0=124.462000
</object>
<object>
type=0
object_name=myVline3
period_flags=0
create_time=1498990936
color=65280
style=2
weight=1
background=0
filling=0
selectable=1
hidden=0
zorder=0
time_0=1497830400
</object>
</indicator>
<indicator>
name=Bollinger Bands
period=20
shift=0
deviations=2.000000
apply=0
color=11193702
style=0
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Alligator
period=13
shift=8
period2=8
shift2=5
period3=5
shift3=3
method=1
apply=4
color=16711680
style=0
weight=1
color2=255
style2=0
weight2=1
color3=65280
style3=0
weight3=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Custom Indicator
<expert>
name=Downloads\Doda-EMA
flags=275
window_num=0
</expert>
shift_0=0
draw_0=0
color_0=4294967295
style_0=0
weight_0=0
period_flags=0
show_data=1
</indicator>
<indicator>
name=Custom Indicator
<expert>
name=Downloads\Auto_Fibo
flags=275
window_num=0
<inputs>
inpName=Fibo_01
inpDepth=12
inpDeviation=5
inpBackStep=3
inpLeg=1
inpLineColor=255
inpLevelsColor=11829830
inpRay=false
inpLevel1=0.0
inpLevel2=23.6
inpLevel3=38.2
inpLevel4=50.0
inpLevel5=61.8
inpLevel6=100.0
inpLevel7=161.8
inpLevel8=261.8
inpLevel9=423.6
</inputs>
</expert>
shift_0=0
draw_0=0
color_0=4294967295
style_0=0
weight_0=0
period_flags=0
show_data=1
</indicator>
<indicator>
name=Custom Indicator
<expert>
name=ZigZag
flags=275
window_num=0
<inputs>
InpDepth=12
InpDeviation=5
InpBackstep=3
</inputs>
</expert>
shift_0=0
draw_0=1
color_0=255
style_0=0
weight_0=0
period_flags=0
show_data=1
</indicator>
</window>

<window>
height=50
fixed_height=0
<indicator>
name=Awesome Oscillator
color=32768
style=0
weight=1
color2=255
style2=0
weight2=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Relative Strength Index
period=14
apply=0
color=16748574
style=0
weight=1
min=0.00000000
max=100.00000000
levels_color=12632256
levels_style=2
levels_weight=1
level_0=30.00000000
level_1=70.00000000
period_flags=0
show_data=1
</indicator>
<indicator>
name=Stochastic Oscillator
kperiod=5
dperiod=3
slowing=3
method=0
apply=0
color=11186720
style=0
weight=1
color2=255
style2=2
weight2=1
min=0.00000000
max=100.00000000
levels_color=12632256
levels_style=2
levels_weight=1
level_0=20.00000000
level_1=80.00000000
period_flags=0
show_data=1
</indicator>
</window>
</chart>

