<chart>
id=131409521573980878
symbol=BTC_Mini
period=5
leftpos=2659
digits=2
scale=16
graph=1
fore=1
grid=1
volume=0
scroll=1
shift=1
ohlc=1
one_click=0
one_click_btn=1
askline=0
days=1
descriptions=0
shift_size=20
fixed_pos=0
window_left=125
window_top=2
window_right=1604
window_bottom=722
window_type=1
background_color=0
foreground_color=16777215
barup_color=65280
bardown_color=255
bullcandle_color=65280
bearcandle_color=255
chartline_color=65280
volumes_color=3329330
grid_color=10061943
askline_color=255
stops_color=255

<window>
height=164
fixed_height=0
<indicator>
name=main
</indicator>
<indicator>
name=Bollinger Bands
period=20
shift=0
deviations=2.000000
apply=0
color=255
style=0
weight=1
period_flags=0
show_data=1
</indicator>
</window>

<window>
height=50
fixed_height=0
<indicator>
name=Awesome Oscillator
color=32768
style=0
weight=1
color2=255
style2=0
weight2=1
period_flags=0
show_data=1
</indicator>
</window>

<window>
height=50
fixed_height=0
<indicator>
name=Custom Indicator
<expert>
name=RSI
flags=275
window_num=2
<inputs>
InpRSIPeriod=14
</inputs>
</expert>
shift_0=0
draw_0=0
color_0=16748574
style_0=0
weight_0=0
min=0.00000000
max=100.00000000
levels_color=12632256
levels_style=2
levels_weight=1
level_0=30.00000000
level_1=70.00000000
period_flags=0
show_data=1
</indicator>
</window>
</chart>

