<chart>
id=131425355194207925
symbol=EURUSD
period=1
leftpos=1895
digits=5
scale=8
graph=1
fore=1
grid=1
volume=1
scroll=1
shift=1
ohlc=1
one_click=1
one_click_btn=1
askline=0
days=1
descriptions=0
shift_size=20
fixed_pos=0
window_left=100
window_top=100
window_right=1491
window_bottom=600
window_type=3
background_color=0
foreground_color=16777215
barup_color=65280
bardown_color=255
bullcandle_color=65280
bearcandle_color=255
chartline_color=65280
volumes_color=65535
grid_color=10061943
askline_color=255
stops_color=255

<window>
height=164
fixed_height=0
<indicator>
name=main
</indicator>
<indicator>
name=Bollinger Bands
period=20
shift=0
deviations=2.000000
apply=0
color=11193702
style=0
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Alligator
period=13
shift=8
period2=8
shift2=5
period3=5
shift3=3
method=1
apply=4
color=16711680
style=0
weight=1
color2=255
style2=0
weight2=1
color3=65280
style3=0
weight3=1
period_flags=0
show_data=1
</indicator>
</window>

<window>
height=50
fixed_height=0
<indicator>
name=Awesome Oscillator
color=32768
style=0
weight=1
color2=255
style2=0
weight2=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Relative Strength Index
period=14
apply=0
color=16748574
style=0
weight=1
min=0.00000000
max=100.00000000
levels_color=12632256
levels_style=2
levels_weight=1
level_0=30.00000000
level_1=70.00000000
period_flags=0
show_data=1
</indicator>
</window>
</chart>

